<!-- header.component.html -->
<header class="text-black dark:text-white py-4 sm:py-6 md:py-8 px-4 sm:px-8 md:px-16 lg:px-40 select-none sticky top-0 z-10 backdrop-blur-lg"> <!--bg-gradient-to-r from-gradienta/50 to-gradientb/50 dark:from-gradientc/50 dark:to-gradientd/50-->
    <div class="container mx-auto flex justify-between items-center">
        <!--<a href="#" class="text-xl font-miriam-libre font-bold text-amaranth">cf.</a>-->
        <img src="../../../assets/img/logo-header.svg" class="h-5 md:h-7 lg:h-7" alt="Cheska Francisco" aria-label="Cheska Francisco"/>

        <div>
            <nav class="space-x-4 py-4 me-4 rounded-full text-lighttext dark:text-melody/50 dark:bg-darkaccent/30 backdrop-blur-lg border-2 border-dashed border-border/50 text-xs uppercase hidden sm:inline">
                <a href="#about" class="hover:text-chocnut dark:hover:text-gwen uppercase transition-all py-4 rounded-full ps-7 pe-2">About</a> <!--border-2 border-dashed border-border/75 bg-lightbg dark:bg-darkbg -mx-2-->
                <a href="#skills" class="hover:text-chocnut dark:hover:text-gwen uppercase transition-all py-4 rounded-full px-2">Skills</a>
                <a href="#projects" class="hover:text-chocnut dark:hover:text-gwen uppercase transition-all py-4 rounded-full px-2">Projects</a>
                <a href="#contact" class="hover:text-chocnut dark:hover:text-gwen uppercase transition-all py-4 rounded-full px-2">Contact</a>
                <a href="https://drive.google.com/file/d/1tchQSUULJWGLV1vIDSHQBMjTcfbddAuD/view?usp=sharing" target="_blank" rel="noopener noreferrer" class="hover:text-chocnut dark:hover:text-gwen uppercase transition-all py-4 rounded-full ps-2 pe-7">Resume</a>
            </nav>
            
            <nav (click)="toggleDarkMode()" class="has-tooltipspace-x-4 py-4 me-4 rounded-full text-lighttext dark:text-sunny/75 dark:bg-darkaccent/30 backdrop-blur-lg border-2 border-dashed border-border/50 text-sm uppercase hidden sm:inline">
                <a class="hover:text-chocnut dark:hover:text-gwen uppercase transition-all py-4 rounded-full px-5"> <!--border-2 border-dashed border-border/75 bg-lightbg dark:bg-darkbg -mx-2-->
                    <i [class.ci-Sun]="!isDarkMode" [class.ci-Moon]="isDarkMode"></i>
                </a>
            </nav>

            <a class="text-xl text-gwen hover:text-gwanda transition-all px-2 py-1 rounded-md inline sm:hidden">
                <i class="ci-Menu_Alt_01"></i>
            </a>
        </div>
    </div>
</header>