<!-- about.component.html -->
<section id="about" class="section-container snap-center grid-bg flex items-center justify-center min-h-screen">
    <div class="relative px-6 pt-8 pb-48"> <!--pt-10 pb-56-->
        <div class="mx-auto max-w-4xl">
            <div class="flex flex-col justify-center text-center"> <!--sm:justify-start sm:text-left-->
                <p class="text-sm md:text-base lg:text-lg text-lighttext dark:text-melon/50 font-miriam-libre mb-5">Hi! My name is</p>
                <!--<h2 class="text-4xl lg:text-5xl xl:text-6xl font-bold block mb-5">
                    <span class="bg-gradient-to-r from-amaranth to-gwen dark:from-sunny dark:to-rosy bg-clip-text text-transparent">Cheska Francisco</span>
                    <span class="select-none hidden sm:inline">✨</span>
                </h2>-->
                <div class="w-full flex justify-center align-middle select-none mb-3">
                    <img id="about-logo" src="../../../assets/svg/logo-light-md.svg" class="mx-auto sm:mx-0" width="550" alt="Cheska Francisco" aria-label="Cheska Francisco"/>
                </div>
                <p class="text-sm md:text-base lg:text-lg text-lighttext dark:text-melon/50 leading-relaxed lg:px-44 mb-5">
                I'm a software QA engineer. I 
                enjoy creating <span class="text-lighttext2">high-quality</span> and <span class="text-lighttext2">user-friendly</span> 
                applications to enhance the user experience.</p>
                <!--<div class="w-full flex justify-center align-middle">
                    <ul class="social-links space-x-6 py-1 px-8 h-min mb-0 pb-0 rounded-full border-2 border-dashed border-border/50 w-max">
                        <li class="link-icon inline-block p-1 bg-border/75 text-cashew dark:bg-rosy/75 dark:text-gradientc rounded-md hover:bg-gwen transition-all">
                            <a href="https://www.linkedin.com/in/clfrancisco/" target="_blank" rel="noopener noreferrer">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg>
                            </a>
                        </li>
                        <li class="link-icon inline-block p-1 bg-border/75 text-cashew dark:bg-rosy/75 dark:text-gradientc rounded-md hover:bg-gwen transition-all">
                            <a href="https://github.com/cheskaf" target="_blank" rel="noopener noreferrer">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
                            </a>
                        </li>
                    </ul>
                </div>-->
            </div>
        </div>
    </div>
    <div class="arrow-container animate-bounce text-center absolute bottom-0 mb-16">
        <a href="#skills" class="text-lighttext dark:text-frutos/75 hover:text-amaranth transition-all bg-lightaccent/25 dark:bg-darkaccent/25 py-4 px-5 border-2 border-border/50 border-dashed rounded-full">
            <i class="ci-Arrow_Down_LG"></i>
        </a>
    </div>
</section>