<!-- about.component.html -->
<!--<section class="p-8">
  <div class="container p-2">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
      <div class="bg-gwanda justify-self-end hidden md:inline">
        <div class="bg-gwen w-40">
          <img src="../../../assets/img/icon.png"/>
        </div>
      </div>
      <div class="col-span-3 space-y-4">
        <p class="text-acorn">Hi! My name is</p>
        <h2 class="text-5xl font-bold text-accent">Cheska Francisco ✨</h2>
        <p class="text-acorn leading-relaxed">
          An aspiring web developer based in Parañaque City. I 
          enjoy creating visually appealing and responsive layouts 
          to enhance the user experience.
        </p>
        <ul class="social-links space-x-4">
          <li class="link-icon inline-block p-1 bg-gwanda text-cashew rounded-md hover:bg-gwen">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg>
          </li>
          <li class="link-icon inline-block p-1 bg-gwanda text-cashew rounded-md hover:bg-gwen">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
          </li>
          <li class="link-icon inline-block p-1 bg-gwanda text-cashew rounded-md hover:bg-gwen">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>-->
  
<div class="relative flex min-h-5/6 flex-col justify-center overflow-hidden py-6 sm:py-12">
  <div class="absolute inset-0"></div>
  <div class="relative px-6 pt-10 pb-8 ">
    <div class="mx-auto max-w-3xl">
    
      <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
        <div class="justify-self-end hidden md:inline">
          <div class="">
            <img src="../../../assets/img/icon.png"/>
          </div>
          <!--<img src="../../../assets/img/icon.png"/>-->
        </div>
        <div class="col-span-3 space-y-4">
          <p class="text-acorn">Hi! My name is</p>
          <h2 class="text-5xl font-bold text-accent">Cheska Francisco ✨</h2>
          <p class="text-acorn leading-relaxed">
            An aspiring web developer based in Parañaque City. I 
            enjoy creating visually appealing and responsive layouts 
            to enhance the user experience.
          </p>
          <ul class="social-links space-x-4">
            <li class="link-icon inline-block p-1 bg-gwanda text-cashew rounded-md hover:bg-gwen">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg>
            </li>
            <li class="link-icon inline-block p-1 bg-gwanda text-cashew rounded-md hover:bg-gwen">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
            </li>
            <li class="link-icon inline-block p-1 bg-gwanda text-cashew rounded-md hover:bg-gwen">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
  