<!-- contact.component.html -->
<section id="contact" class="section-container snap-center grid-bg text-coffee flex items-center justify-center min-h-80">
    <div class="container mx-auto max-w-7xl">
        <div class="p-6 flex flex-col justify-center text-center">
            <h3 class="inline-block text-2xl md:text-3xl lg:text-4xl font-bold mb-4 text-amaranth font-miriam-libre">
                <span class="select-none hidden sm:inline"></span>✨ Let's work together! ✨
            </h3>
            <p class="text-gwanda dark:text-gradientc/75 text-sm md:text-base">
                <span class="px-3 py-1 border border-gwen rounded-md bg-melody hover:bg-star hover:border-melon dark:hover:bg-sunny/50 dark:hover:border-sunny/25 dark:bg-gwanda/75 dark:border-gwanda/25 transition-all shadow-lg shadow-gwen/25 dark:shadow-amaranth/25 dark:hover:shadow-gwanda/25"><i class="ci-Mail text-sm me-1"></i>chsk.francisco&#64;gmail.com</span>
            </p>
        </div>
    </div>
</section>
    