/* You can add global styles to this file, and also import other style files */
@import url('./assets/fonts/coolicons.css');
@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-amaranth: 216 31 76; /* amaranth red */
        --color-gwanda: 140 63 81; /* quinacridone magenta */
        --color-gwen: 206 131 131; /* old rose */
        --color-melon: 228 173 168; /* melon */
        --color-melody: 250 214 205; /* pale dogwood */
        --color-cashew: 254 231 220; /* champagne pink */
        --color-coffee: 57 39 37; /* bistre */
        --color-acorn: 144 115 94; /* chamoisee */
        --color-star: 255 192 88; /* xanthous */
        --color-sunny: 220 116 20; /* sunglow */
        --color-rosy: 208 18 69; /* fandango */
        --color-gradienta: 254 226 226; /* gradient a */
        --color-gradientb: 255 237 213; /* gradient b */
        --color-gradientc: 27 0 13; /* gradient c */
        --color-gradientd: 33 0 18; /* gradient d */
        --color-transparent: rgba(140, 63, 81, 0.491); 
    }
}

.tooltip {
    @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
    @apply visible z-50;
}

::selection {
    color: #fff;
    background: var(--color-transparent)
}