/* You can add global styles to this file, and also import other style files */
@import url('./assets/fonts/coolicons.css');
@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-amaranth: 216 31 76; /* amaranth red */
        --color-gwanda: 140 63 81; /* quinacridone magenta */
        --color-gwen: 206 131 131; /* old rose */
        --color-melon: 228 173 168; /* melon */
        --color-melody: 250 214 205; /* pale dogwood */
        --color-cashew: 254 231 220; /* champagne pink */
        --color-coffee: 57 39 37; /* bistre */
        --color-acorn: 144 115 94; /* chamoisee */
        --color-star: 255 192 88; /* xanthous */
        --color-sunny: 220 116 20; /* sunglow */
        --color-rosy: 208 18 69; /* fandango */
        --color-gradienta: 254 226 226; /* gradient a */
        --color-gradientb: 255 237 213; /* gradient b */
        --color-gradientc: 27 0 13; /* gradient c */
        --color-gradientd: 33 0 18; /* gradient d */
        --color-transparent: rgba(140, 63, 81, 0.491); 
    }
}

.tooltip {
    @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
    @apply visible z-50;
}

::selection {
    color: #fff;
    background: var(--color-transparent)
}

/* Animations */
@keyframes shake {
    0% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
    10% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    20% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    100% {
        transform: translate(1px, 1px) rotate(0deg);
    }
}

.animate-shake {
    animation: shake 0.5s infinite;
}

.blob{
    height: 800px;
    background-color: white;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background: linear-gradient(to right, rgba(233, 85, 110, 0.265), rgba(198, 135, 19, 0.258));
    animation: rotate 2s ease-in-out infinite;
    overflow: hidden;
    /* z-index: -1; */
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    50%{
        scale: 1 1.5;
    }
    100%{
        transform: rotate(360deg);
    }
}
.main{
    /*position: absolute;*/
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    backdrop-filter:blur(100px) ;
    overflow: hidden;
}
