<!-- projects.component.html -->
<section id="projects" class="section-container snap-center relative dotted-bg text-coffee flex flex-col items-center justify-center min-h-screen"> <!--dotted-bg text-coffee py-16 sm:py-20 md:py-24 lg:py-32 xl:py-24-->
    <div class="container mx-auto max-w-7xl p-6 my-24">
        <div class="mb-8 px-6 md:px-0">
            <div class="flex justify-between mb-4">
                <h3 class="inline-block text-2xl md:text-3xl lg:text-4xl font-bold text-amaranth">
                    <span class="select-none hidden md:inline">✨</span>
                    <span class="dark:text-amaranth/75">Featured Project</span>
                </h3>
            </div> 
            <p class="md:ps-12 text-gwanda dark:text-gwen/75 text-sm md:text-base lg:text-lg">
            Check out my favorite project!</p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 px-6 md:px-12">
            <!-- Featured Project -->
            @for (project of projects; track $index) {
                @if (project.featured === true) {
                    <div class="col-span-2 rounded-lg overflow-hidden">
                        <img class="inline rounded-lg" src="{{ project.thumbnailpath }}" alt="{{ project.title }}">
                    </div>
                    <div class="rounded-lg flex flex-col justify-between content-between">
                        <div class="mb-3">
                            <h4 class="inline-block text-xl md:text-2xl bg-gradient-to-r from-amaranth to-gwen dark:from-sunny dark:to-rosy bg-clip-text text-transparent font-bold">{{ project.title }}</h4>
                            <p class="mb-3 font-miriam-libre text-sm text-gwen dark:text-sunny/75"><b>{{project.role}}</b> | {{ project.date }}</p>
                            <p class="mb-3 text-acorn dark:text-acorn/75 text-sm lg:text-base">{{ project.description }}</p>
                            <!--<a routerLink="/projects" class="font-miriam-libre text-gwanda hover:text-gwen dark:text-sunny/75 dark:hover:text-rosy/50 text-sm lg:text-base transition-all">
                            <span class="underline decoration-melon dark:decoration-rosy/50 hover:decoration-star hover:dark:decoration-sunny/50 transition-all me-2 decoration-4 underline-offset-2">
                                See more</span>
                            <i class="ci-Arrow_Right_LG text-sm"></i>
                            </a>-->
                            <!--<hr class="w-16 h-0.5 mx-auto md:mx-0 my-2 bg-acorn border-0 rounded md:my-6">-->
                            <div class="text-gwen text-sm lg:text-base">
                                <ul class="mt-1 flex flex-wrap gap-3">
                                @for (skill of project.skills; track $index) {
                                    <li class="px-2 border border-gwen dark:border-gwen/25 rounded-md font-miriam-libre hover:bg-melody hover:border-melon hover:dark:bg-gwen/25 hover:dark:border-gwanda/25 transition-all">
                                    <div class="flex items-center">
                                        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mr-2 fill-gwanda"><title>{{ skill.title }}</title><path [attr.d]="skill.svgpath"/></svg>
                                        {{ skill.title }}
                                    </div>
                                    </li>
                                }
                                </ul>
                            </div>
                        </div>
                        
                        <a href="/projects" class="w-fit py-2 px-6 rounded-full uppercase text-xs text-lighttext dark:text-frutos/75 hover:text-amaranth bg-lightaccent/25 dark:bg-darkaccent/25 border-2 border-border/50 border-dashed transition-all">
                            View all projects <i class="ci-Arrow_Right_LG text-sm"></i>
                        </a>
                    </div>
                }
            }
        </div>
        <!--
            <h5 class="md:ps-12 mt-16 text-base lg:text-lg text-gwanda dark:text-sunny/75 font-bold font-miriam-libre mb-4">
                <a routerLink="/projects" class="underline decoration-melon dark:decoration-rosy/50 decoration-2 underline-offset-2 me-2">Recent Projects</a> <i class="ci-Arrow_Right_LG text-sm"></i>
            </h5>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                @for (project of projects; track $index) {
                    @if (project.featured !== true && $index < 2) {
                        <div class="rounded-lg border border-gwen/25 bg-white/25 dark:bg-gwanda/25 dark:border-gwanda/50 p-5 md:mx-12 grid grid-cols-1 sm:grid-cols-3 gap-4 shadow-lg shadow-gwen/25 dark:shadow-amaranth/25 dark:hover:shadow-gwanda/25">
                            <div class="w-full rounded-lg overflow-hidden">
                                <img class="inline rounded-lg" src="{{ project.thumbnailpath }}" alt="{{ project.title }}">
                            </div>
                            <div class="col-span-2 rounded-lg flex flex-col justify-between content-between">
                                <div>
                                    <h5 class="inline-block text-base md:text-md bg-gradient-to-r from-amaranth to-gwen dark:from-sunny dark:to-rosy bg-clip-text text-transparent font-bold">{{ project.title }}</h5>
                                    <p class="mb-1 font-miriam-libre text-sm text-gwen dark:text-sunny/75"><b>{{project.role}}</b> | {{ project.date }}</p>
                                    <p class="text-acorn dark:text-gwen text-xs">{{ project.description }}</p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        -->
    </div>
    <!--<div class="arrow-container absolute bottom-0 inset-x-0 mb-8 text-center">
    <a href="#skills">
        <i class="ci-Arrow_Down_LG text-acorn"></i>
    </a>
    </div>-->
</section>